table {
  width: 100%;
  background: #25383C;
}
.class {
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 15px;
  text-align: right;

}
th {
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 15px;
  text-align: center;
  color: #FFFFFF;
}

button {
  margin: 13px  ;
  background: #7F525D;
  color: #2B1B17;
  font-size: 20px;
}

mat-toolbar {
  background: #99A3A4 ;
  color: #2B1B17;
}

.box {
  font-size: 20px;
}
